# OS-specific
.DS_Store
Thumbs.db

# Python cache
__pycache__/
*.py[cod]
*.so
*.pyc

# Virtual environments
env/
venv/
ENV/
.venv/

# Editor/project settings
*.sublime-workspace
*.sublime-project

# SQLite DBs and backups (optional)
*.db
*.db-journal
*.sqlite
*.sqlite3

# Logs and temporary files
*.log
*.bak
*.tmp
temp_*.py

# Flask instance folder (optional)
instance/

# Excel or test data
*.xlsx
*.xls

# Local exports
zip/
*.zip

# Media and uploads
static/uploads/
static/img/
*.jpg
*.png
*.mov
*.mp3
*.pdf
*.psql
Notes

# Backups / temp
*_backup.py
*_old.py
temp_*.py
templates/*working_backup.html
templates.csv